<h3 class="heading2" ng-bind-html-unsafe="recipe.title"></h3> 
<h4 ng-bind-html-unsafe="recipe.subtitle"></h4> 
<p ng-bind-html-unsafe="recipe.ingredients"></p>
<p ng-bind-html-unsafe="recipe.directions"></p>
