<form class="form" name="moveToForm" ng-submit="moveTo(edit)" ng-show="editMode">
  <a href="#" class="btn" ng-click="move = !move" ng-disabled="!Object.keys(edit).length">Move To</a>
  <select ng-model="moveToCategory"
    ng-options="category.name for category in categories" ng-show="move">
    <option value="">Select a Category</option>
  </select>
  <select ng-model="moveToSubcategory"
    ng-options="subcategory.name for subcategory in subcategories" ng-show="moveToCategory">
    <option value="">Select a Subcategory</option>
  </select>
  <button class="btn" type="submit" ng-disabled="!moveToCategory" ng-show="move">Move</button>
</form>

<div ng-repeat='recipe in recipes'>
  <h3 class="heading2">
    <input type="checkbox" ng-model="edit[recipe._id]" ng-show="editMode">
    <a href="/recipe/{{recipe._id}}" ng-bind-html="recipe.title"></a>
  </h3>
  <h4 class="heading3" ng-bind-html="recipe.subtitle"></h4>
</div>
<!--
<form name="subcategoryForm" ng-submit="addSubcategory(subcategory)" ng-show="editMode">
  <input type="text" name="subcategory" ng-model="subcategory" placeholder="Subcategory Name">
  <button class="btn" ng-disabled="!subcategory">Add Subcategory</button>
</form> -->
