<div class="recipe">
  <a class="edit" ckeditor>Edit</a>
  <h3 id="recipeTitle" class="heading2" ng-bind-html-unsafe="recipe.title"></h3> 
  <h4 id="recipeSubtitle"ng-bind-html-unsafe="recipe.subtitle"></h4> 
  <p id="recipeIngredients" ng-bind-html-unsafe="recipe.ingredients"></p>
  <p id="recipeDirections" ng-bind-html-unsafe="recipe.directions"></p>
</div>