<% assets = {
  css: [
  'icons.css'
  ],
  js: [
    'fb_redirect.js',
    'lib/ckeditor/ckeditor.js',
    //'lib/ckeditor-3/adapters/jquery.js',
    'lib/angular-1.1.2/angular.js',
    'lib/angular-1.1.2/angular-resource.js',
    'app.js',
    'services.js',
    'controllers.js',
    'filters.js',
    'directives.js'
  ]
} %>
<div class="page-wrapper">
  <div ng-controller="LeftNav" class="left-nav">
    <div class="search-wrapper">
      <form novalidate class="search-form">
        <i class="icon cook-icon-magnifying-glass"></i>
        <i class="icon cook-icon-x-altx-alt search-clear"></i>
        <input type="text" placeholder="So Many Searches..." ng-model="searchTerm" class="search-term">
      </form>
    </div>
    <div class="left-nav-inside" search-results="searchTerm" select-recipe>
      <ul browse></ul>
    </div>
  </div>
  <div class="main">
    <nav class="taxonomy">
      <a href="/category/{{taxonomy.category._id}}" class="category-tax">{{taxonomy.category.name}}</a> <span ng-show="taxonomy.subcategory">|</span> <a href="/recipes/{{taxonomy.subcategory._id}}" class="subcategory-tax">{{taxonomy.subcategory.name}}</a>
    </nav>
    <div ng-view></div>
  </div>
</div>
